/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: Tahoma, Arial, sans-serif;
}

table.data {
  border: solid 1px black;
  border-collapse: collapse;
}

table.data th,
table.data td {
  padding: 2px 4px;
  border: solid 1px black;
}

table.data th {
  text-align: left;
}

table.data th.number,
table.data td.numeric {
  text-align: right;
}

.header {
  border-bottom: solid 2px black;
}
.header ul.nav {
  list-style-type: none;
  margin: 4px;
  padding: 0;
}
.header ul.nav li {
  display: inline;
  margin-right: 10px;
}
.header ul.nav a {
  text-decoration: none;
}
